body{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: .875rem;
}
a{
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}

header{
    width: 100%;
    height: 15vh;
}
header nav{
    display: flex;
    justify-content: flex-end;
}
header nav .nav-right-section{
    width: 250px;
    height: auto;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
nav .nav-right-section a{
    color: #202124;
}
nav .nav-right-section .menu-icon{
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1.5rem;
    height: 1.5rem;
}
nav .nav-right-section img{
    border-radius: 50%;
}

main{
    text-align: center;
    height: 70vh;
}
main .main-logo{
    width: 450px;
    margin: 0 auto;
}
main .main-logo img{
    width: 100%;
}
main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 2rem;
}
main .main-input-container{
    width: 520px;
    border-radius: 20px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-input-container:hover{
    box-shadow: 0px 1px 5px #5b5c5e54;
    border-color: #bec0c4;
}
main .main-input-container input{
    width: 90%;
    height: 2.5rem;
    border: none;
    outline: none;
}
main .main-input-container .search-icon{
    background-image: url('https://cdn-icons-png.flaticon.com/256/3917/3917132.png');
    background-repeat: none;
    background-position: center;
    background-size: contain;
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    opacity: 80%;
}
main .main-input-container .micro-icon{
    background-image: url('https://static.thenounproject.com/png/2022847-200.png');
    background-repeat: none;
    background-position: center;
    background-size: contain;
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
    margin-right: 1rem;
}
main .main-input-container .cam-icon{
    background-image: url('https://cdn-icons-png.flaticon.com/512/2956/2956744.png');
    background-repeat: none;
    background-position: center;
    background-size: contain;
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
    margin-right: 1rem;
}
main .main-buttons{
    width: 530px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}
main .main-buttons button{
    color: #202124;
    height: 2.2rem;
    background-color: #f3f3f3;
    border: 0;
    font-size: 1rem;
    border-radius: .25rem;
    padding: 0 1rem;
}
main .main-buttons button:hover{
    box-shadow: 0px 1px 5px #5b5c5e77;
    border-color: #bec0c4;
}

footer{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: #70757a;
    width: 100%;
    height: 15vh;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
footer .region{
    margin: 0;
    padding: 0 1rem;
    height: 50%;
    width: 100%;
    border-bottom: 1px solid #6c6c6d;
    display: flex;
    justify-content: left;
    align-items: center;
}
footer .f-links{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
footer .f-links ul{
    margin: .3rem 1rem;
    padding: 0;
    height: auto;
    list-style: none;
    display: flex;
    gap: .85rem;
}
footer .f-links ul a{
    color: #6c6c6d;
    text-decoration: none;
}
footer .f-links ul a:hover{
    text-decoration: underline;
}





